// This is a file that contains general CSS variables that are using all over the project

/* App general styles */
$main-background-color: #454545;

/* Buttons */
$main-button-color: #ff7300;

/* Colors */
$white: #ffffff;
